h1 {
  font-size: 2em;
  text-align: center;
}

li a {
  color: black;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li {
  float: left;
  width: calc(100% / 3)
}

ol {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

header {
  background-color: lightgray;
}

img {
  margin: 2em;
}

article {
  display: flex;
  align-items: flex-start;
}

p {
  margin: 1.5em 1em 0em 0em;
  font-size: 2em;
  height: 400px;
  overflow: scroll;
}